@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VisitViewModel

<!-- client index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- client nav bar -->
    <partial name="/Views/Shared/_ClientNavBarPartial.cshtml" model="@Model.UserName" />

    <div class="container my-5 pb-5" style="height:100%">

        <div class="bg-secondary text-light rounded-top bg-opacity-75 text-secondary p-3">
            VISIT DETAILS
        </div>

        <div class="d-flex row" style="height:100%">

            <div class="scrollable-div row my-5 mx-auto p-2" style="height: calc(100% - 80px);">
                <partial name="Visits/_VisitDetailsPartial" model="@Model" class="d-flex overflow-auto"/>
            </div>
        </div>
    </div>
</div>