@model SmartGarage.Common.Models.ViewModels.UserViewModel

<!-- client index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- client nav bar -->
    <partial name="/Views/Shared/_ClientNavBarPartial.cshtml" model="@Model.UserName" />

    <div class="container justify-content-center my-5 pb-5">

        <div class="bg-secondary text-light rounded-top bg-opacity-75 text-secondary p-3">
            MY VISITS
        </div>

        <div class="scrollable-div d-flex gap-3 row mt-5 mx-auto p-2" style="max-height: 600px;">

            @{
                if (Model.Visits != null && Model.Visits.Count > 0)
                {
                    @foreach (var visit in Model.Visits)
                    {
                        <a asp-controller="Visits" asp-action="DisplayVisit" asp-route-visitId="@visit.Id" style="text-decoration:none">
                            <partial name="Visits/_VisitElementPartial" model="@visit" />
                        </a>
                    }
                }
                else
                {
                    <div class="card p-3">
                        YOU DON'T ANY HAVE VISITS YET.
                    </div>
                }
            }
        </div>

    </div>
</div>