@model UserViewModel

<!-- client index page -->
<div class="d-flex flex-column justify-content-start" style="height:calc(100% - 50px);">

    <!-- client nav bar -->
    <partial name="/Views/Shared/_CustomerNavBarPartial.cshtml" model="@Model.UserName" />

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">
        <div class="d-flex container justify-content-between">
            <div class="d-flex flex-row align-items-center gap-3">
                <p class="lead my-2">
                    MY <b>VISITS</b>
                </p>
            </div>
        </div>
    </div>

    <div class="d-flex container flex-column scrollable-div gap-3 mt-4 pb-4" style="width:100%;height:100%;">

        <!-- These all elements are flowing out of the  -->
        @{
            if (Model.Visits != null && Model.Visits.Count > 0)
            {
                @foreach (var visit in Model.Visits)
                {
                    <a asp-controller="Visits" asp-action="DisplayVisit" asp-route-visitId="@visit.Id" style="text-decoration:none">
                        <partial name="Visits/_VisitElementPartial" model="@visit" />
                    </a>
                }
            }
            else
            {
                <div class="card p-3">
                    YOU DON'T HAVE ANY VISITS REGISTERED YET
                </div>
            }
        }

    </div>
</div>