@model UserViewModel

@{

}

<div class="d-flex flex-column flex-fill bg-light bg-opacity-50 shadow m-auto p-3">

    <div class="d-flex mx-2 justify-content-between">
        <dv>
            @Model.UserName
        </dv>
    </div>
</div>
