@model SmartGarage.Common.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Home Page";
    var postLoginMessage = ViewData["PostRegisterMessage"]?.ToString();
}

<div class="d-flex flex-column justify-content-start my-5" style="height:40%; margin-top:100px;">

    <div class="d-flex flex-column justify-content-center my-0 mx-auto text-center">
        <p id="smart-garage-logo" class="d-flex m-0" style="height:100px;">SMART GARAGE</p>
        <p id="smart-garage-logo-label" class="m-0" style="text-align:start;">management system</p>
    </div>

    

    <div class="d-flex flex-column justify-content-start fade-in" style="margin-top:100px;">
        @* <div class="d-flex justify-content-start m-auto" style="width:30%; padding:10px; font-size:36px; opacity:0.5;">
            LOGIN
        </div> *@

        <div class="d-flex flex-column justify-content-center my-0 mx-auto text-center">
            @if (postLoginMessage != null)
            {
                <p>
                    @postLoginMessage
                </p>
            }
        </div>

        <form asp-controller="Auth" asp-action="Login" style="width:30%;" class="d-flex flex-column m-auto justify-content-center" method="post">
            <input asp-for="@Model.Email" class="log-in-form-control" type="email" placeholder="Email" aria-label="Email">
            <span asp-validation-for="@Model.Email" class="form-error" style="color: #7B0828"></span>
            <input asp-for="@Model.Password" class="log-in-form-control" type="password" placeholder="Password" aria-label="Password">
            <span asp-validation-for="@Model.Password" class="form-error" style="color: #7B0828"></span>
            <div class="d-flex flex-row justify-content-end gap-3 mt-4">
                <a asp-controller="Auth" asp-action="Register" type="submit" class="btn my-1 primary-button text-black btn-outline-light bg-secondary opacity-50 flex-shrink-1"
                        style="width: 8.0rem;">
                    Register
                </a>
                <button type="submit" class="btn my-1 primary-button text-black btn-outline-light opacity-75 flex-grow-1">
                    Login
                </button>
            </div>
        </form>

        <div class="d-flex justify-content-end m-auto" style="width:30%;">
            <a asp-area="" asp-controller="Auth" asp-action="ResetPassword" class="text-secondary mt-2 ms-4" style="text-decoration:none; text-align:end">
                Forgot password?
            </a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>