@{
    ViewData["Title"] = "Reset Password Instructions";
}

<div class="text-center">
    <h2>Password Reset Instructions</h2>
    <p>Follow the instructions below to reset your password:</p>
    <p>1. Click the following link:</p>
    <a href="#" onclick="window.open('@ViewData["ResetLink"]', '_blank');">Click here to reset your password</a>
    <p>2. Open a new browser tab and follow the link.</p>
    <p>3. You will be redirected to the password reset page.</p>
</div>
