@model UserResetPasswordViewModel

@{
    ViewData["Title"] = "Home Page";
    var message = ViewData["PostPasswordResetMessage"];
}

<div class="d-flex flex-column justify-content-start my-5" style="height:40%; margin-top:100px;">

    <div class="d-flex flex-column justify-content-center my-0 mx-auto text-center">
        <p id="smart-garage-logo" class="d-flex m-0" style="height:100px;">SMART GARAGE</p>
        <p id="smart-garage-logo-label" class="m-0" style="text-align:start;">management system</p>
    </div>
    <div class="d-flex flex-column justify-content-start fade-in" style="margin-top:100px;">

        <form id="reset-password-form" asp-controller="Auth" asp-action="ResetPassword" method="post" style="width:30%;" class="d-flex flex-column m-auto justify-content-center">
            <span asp-validation-for="@Model.UserName" class="form-error" style="color: #7B0828"></span>
            <input asp-for="@Model.UserName" class="log-in-form-control" type="email" placeholder="Email" aria-label="Email">
            
            @if (message != null)
            {
                <div id="registration-message" href="#" class="d-flex text-secondary align-content-start m-auto text-success" style="text-decoration:none; width:100%;">
                    <b> @message </b>
                </div>
            }
            else
            {
                <label id="registration-message" href="#" class="d-flex text-secondary align-content-start m-auto" style="text-decoration:none; width:100%;">
                    Reset password. You will receive an email with login information !
                </label>
            }

            <div class="d-flex flex-row justify-content-end gap-3 mt-4">
                <a asp-controller="Auth" asp-action="Login" type="button" class="btn my-1 primary-button text-black btn-outline-light bg-secondary opacity-50 flex-shrink-1"
                   style="width: 8.0rem;">
                    <<<
                </a>
                <button type="submit" class="btn my-1 primary-button text-black btn-outline-light opacity-75 flex-grow-1 gap-2">
                    <div id="loading-spinner" class="spinner-border spinner-border-sm" style="display: none;"></div>
                    Send
                </button>
            </div>
        </form>

    </div>
</div>

//
<div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
    <span class="sr-only">Loading...</span>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* 
<script>
    document.getElementById('reset-password-form').addEventListener('submit', function () {
        // Disable form controls
        var formElements = this.elements;
        for (var i = 0; i < formElements.length; i++) {
            formElements[i].disabled = true;
        }

        // Show the loading spinner
        document.getElementById('loading-spinner').style.display = 'inline-block';
    });
</script> *@