<style>
    #chat-toggle-button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 50px;
        margin: 50px;
        transform: translateY(-30px);
        z-index: 1000;
    }
</style>

<div id="chat-toggle-button" class="justify-content-center align-items-center d-flex btn btn-info rounded shadow-sm">
    <b>CHAT</b>
</div>
