@model UserViewModel

<!-- client index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- client nav bar -->
    <partial name="/Views/Shared/_ClientNavBarPartial.cshtml" />

    <div class="bg-light">
    </div>

    <div class="d-flex flex-column justify-content-center mt-5 mx-auto text-center">
        <h1>
            MY PROFILE !
        </h1>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>