@model SmartGarage.Utilities.Models.VisitViewModel

<div>
    <div>
        @Model.VehicleBrand @Model.VehicleModel
    </div>

    @foreach (var item in Model.RepairActivities)
    {
        <p>item</p>
    }

</div>