@model List<VisitViewModel>

@{
    var userName = ViewData["CurrentUser"];
}

<!-- employee index page -->
<div class="d-flex flex-column align-items-center" style="height:100%;">

    <!-- employee nav bar -->
    <partial name="_EmployeeNavBarPartial" model="@userName" area-name="" />

    <div class="container d-flex flex-column mx-auto p-4 gap-2 my-auto bg-opacity-25 bg-light rounded-3" style="width:100%; height:80%; overflow-y:auto;">
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                var visit = Model[i];

                // @foreach (var visit in Model.Visits)
                {
                    <a asp-area="Employee" asp-controller="Visits" asp-action="DisplayVisitDetails" asp-route-visitId="@visit.Id" style="text-decoration:none">
                        <partial name="Visits/_VisitElementPartial" model="@visit" />
                    </a>
                }

                // <div class="d-flex p-4 bg-primary">

                //     <div>@(i + 1)</div>
                // </div>
            }
        }
    </div>
</div>
