@{
    var userName = ViewData["CurrentUser"];
}

<!-- customer index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- customer nav bar -->
    <partial name="_EmployeeNavBarPartial" model="@userName" />

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">
        <div class="d-flex container justify-content-between">

            <div class="d-flex flex-row align-items-center gap-3">
                <p class="lead my-2">
                    EMPLOYEE <b>MENU</b>
                </p>
            </div>
        </div>
    </div>

    <div class="bg-light">
    </div>

    <div class="container d-flex align-items-center justify-content-center align-items-center m-auto text-center" style="width:50%; height:50%;">
        <div class="d-flex row gap-3" style="width:100%; height:100%;">
            <!-- Your content goes here -->
            <div class="d-flex gap-3 m-0 flex-fill">
                <a asp-area="Employee" asp-controller="Customers" asp-action="RegisterCustomer" class="employee-menu-element col">
                    REGISTER CUSTOMER
                </a>
                <a asp-area="Employee" asp-controller="Customers" asp-action="ManageCustomers" class="employee-menu-element col">
                    CUSTOMERS
                </a>
            </div>
            <div class="d-flex gap-3 m-0 flex-fill">
                <a asp-area="Employee" asp-controller="Vehicles" asp-action="RegisterVehicle" class="employee-menu-element col">
                    REGISTER VEHICLE
                </a>
                <a asp-area="Employee" asp-controller="Vehicles" asp-action="ManageVehicles" class="employee-menu-element col">
                    VEHICLES
                </a>
            </div>
            <div class="d-flex gap-3 pe-auto m-0 flex-fill">
                <a asp-area="Employee" asp-controller="Visits" asp-action="CreateVisit" class="employee-menu-element col-4">
                    CREATE VISIT
                </a>
                <a asp-area="Employee" asp-controller="Visits" asp-action="ManageVisits" class="employee-menu-element col-4">
                    ALL VISITS
                </a>

                <a onclick="filterWithStatus('Active')" class="employee-menu-element col-2 flex-fill">
                    ACTIVE VISITS
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    function filterWithStatus(status) {

        var url = '@Url.Action("ManageVisits", "Visits", new { area = "Employee", Status = "status" })';
        url = url.replace('status', status);
        window.location.href = url;
    }

</script>