@{
    var userName = ViewData["CurrentUser"];
}

<!-- customer index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- customer nav bar -->
    <partial name="_EmployeeNavBarPartial" model="@userName" />

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">
        <div class="d-flex container justify-content-between">

            <div class="d-flex flex-row align-items-center gap-3">
                <p class="lead my-2">
                    EMPLOYEE <b>MENU</b>
                </p>
            </div>
        </div>
    </div>

    <div class="bg-light">
    </div>

    <div class="container d-flex align-items-center justify-content-center align-items-center m-auto text-center" style="width:50%; height:50%;">
        <div class="d-flex row gap-3" style="width:100%; height:100%;">
            <div class="d-flex gap-3 m-0 flex-fill">
                <a asp-area="Employee" asp-controller="Customers" asp-action="RegisterCustomer" class=" employee-menu-element col gap-2">
                    <img class="position-relative opacity-50" src="~/images/add-user.png" style="width:64px; filter:sepia()" />
                    <div>REGISTER CUSTOMER</div>
                </a>
                <a asp-area="Employee" asp-controller="Customers" asp-action="ManageCustomers" class="employee-menu-element col gap-2">
                    <img class="position-relative opacity-50" src="~/images/users.png" style="width:100px; filter:sepia()" />
                    <div>CUSTOMERS</div>
                </a>
            </div>
            <div class="d-flex gap-3 m-0 flex-fill">
                <a asp-area="Employee" asp-controller="Vehicles" asp-action="RegisterVehicle" class="employee-menu-element col gap-2 m-0">
                    <img class="position-relative opacity-50" src="~/images/add-vehicle.png" style="width:50px; filter:sepia()" />
                    <div>REGISTER VEHICLE</div>
                </a>
                <a asp-area="Employee" asp-controller="Vehicles" asp-action="ManageVehicles" class="employee-menu-element col gap-2">
                    <img class="position-relative opacity-50" src="~/images/vehicles.png" style="width:100px; filter:sepia()" />
                    <div>VEHICLES</div>
                </a>
            </div>
            <div class="d-flex gap-3 pe-auto m-0 flex-fill">
                <a asp-area="Employee" asp-controller="Visits" asp-action="CreateVisit" class="employee-menu-element col-4 gap-2">
                    <img class="position-relative opacity-50" src="~/images/add-visit.png" style="width:40px; filter:sepia()" />
                    <div>CREATE VISIT</div>
                </a>
                <a asp-area="Employee" asp-controller="Visits" asp-action="ManageVisits" class="employee-menu-element col-4 gap-">
                    <img class="position-relative opacity-50" src="~/images/visits.png" style="width:80px; filter:sepia()" />
                    <div>ALL VISITS</div>
                </a>

                <a onclick="filterWithStatus('Active')" class="employee-menu-element col-2 flex-fill gap-2">
                    <img class="position-relative opacity-50" src="~/images/visits.png" style="width:80px; filter:sepia()" />
                    <div>ACTIVE VISITS</div>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    function filterWithStatus(status) {

        var url = '@Url.Action("ManageVisits", "Visits", new { area = "Employee", Status = "status" })';
        url = url.replace('status', status);
        window.location.href = url;
    }

</script>