

<div class="d-flex flex-column justify-content-start my-5" style="height:40%; margin-top:100px;">

    <div class="d-flex flex-column justify-content-center my-0 mx-auto text-center">
        <p id="smart-garage-logo" class="d-flex m-0" style="height:100px;">SMART GARAGE</p>
        <p id="smart-garage-logo-label" class="m-0" style="text-align:start;">management system</p>
    </div>

    <div class="d-flex flex-column justify-content-center mt-5 mx-auto text-center">
        <h1>
            WELCOME USER !
        </h1>
    </div>
</div>