@model UserViewModel

@{
    var userName = "Username";
}

<!-- client index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- client nav bar -->
    <partial name="/Views/Shared/_EmployeeNavBarPartial.cshtml" model="@userName" />

    <div class="bg-light">
    </div>

    <div class="container d-flex align-items-center justify-content-center m-auto" style="width:50%; height:50%;">
        <div class="d-flex row gap-3" style="width:100%; height:100%;">
            <!-- Your content goes here -->
            <div class="d-flex gap-3 row flex-fill">
                <a asp-controller="" asp-action="" class="employee-menu-element col">
                    Crate new client profile
                </a>
                <a asp-controller="" asp-action="" class="employee-menu-element col">
                    Register new user
                </a>
            </div>
            <div class="d-flex gap-3 row flex-fill">
                <a asp-controller="" asp-action="" class="employee-menu-element col">
                    Manage visits
                </a>
                <a asp-controller="" asp-action="" class="employee-menu-element col">
                    Manage clients
                </a>
                <a asp-controller="" asp-action="" class="employee-menu-element col">
                    Manage vehicles
                </a>
            </div>
            <div class="d-flex gap-3 row flex-fill">
                <a asp-controller="" asp-action="" class="employee-menu-element col">
                    View ative visits
                </a>
            </div>
        </div>
    </div>
</div>
