@model GarageInfoViewModel

<!-- customer index page -->
<div class="d-flex flex-column justify-content-start" style="height:100%;">

    <!-- customer nav bar -->
    <partial name="/Views/Shared/_CustomerNavBarPartial.cshtml" model="@Model.UserViewModel.UserName" />

    <div class="d-flex flex-column justify-items-between justify-content-end bg-light py-2">
        <div class="d-flex container justify-content-between">
            <div class="d-flex flex-row align-items-center gap-3">
                <p class="lead my-2">
                    SMART GARAGE <b>INFO</b>
                </p>
            </div>
        </div>
    </div>


    <div class="container row gap-2 rounded-3 justify-content-center mx-auto my-4" style="width:100%; height:80%;">

        <!-- LEFT COLUMN -->
        <div class="container col bg-light bg-opacity-25 justify-content-center align-items-center text-center gap-2 m-auto" style="max-width:50%; height:100%;">

            <div class="d-flex row gap-3 m-auto py-2" style="width:100%; height:100%;">
                <div class="d-flex card border-2 bg-opacity-50 row m-0 p-4 bg-light">
                    <h6 class="text-start">
                        REPAIR ACTIVITY TYPES
                    </h6>

                    <hr />

                    <div class="d-flex justify-content-start text-light gap-1">
                        @{
                            foreach (var item in Model.RepairActivityTypes)
                            {
                                <span class="d-flex bg-secondary rounded p-2">
                                    <label>@item.Name</label>
                                </span>
                            }
                        }
                    </div>

                </div>
                <div class="d-flex card border-2 bg-opacity-50 row m-0 p-4 bg-light">

                    <h6 class="text-start">
                        CARS
                    </h6>

                    <hr />

                    <div class="col justify-content-start align-items-start m-auto gap-4">
                        @{
                            foreach (var brand in Model.VehicleBrandAndModels)
                            {
                                <span class="d-flex flex-row justify-content-start m-auto bg-secondary rounded p-2">
                                    <label class="d-flex align-items-center badge bg-info me-2">@brand.Name</label>

                                    @foreach (var brandModel in brand.Models)
                                    {
                                        <label class="badge p-2">@brandModel</label>
                                    }
                                </span>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>

        <!-- RIGHT COLUMN (contacts and map) -->
        <div class="d-flex flex-column align-content-around m-auto gap-2" style="width:50%; height:100%;">

            <!-- SMART GARAGE CONTACTS -->
            <div class="d-flex row justify-content-between align-items-center text-center bg-light rounded-3 bg-opacity-25 p-3 m-auto">
                <div class="d-flex flex-row card border-2 bg-opacity-50 row m-0 p-4 bg-light">
                    <div>
                        <h6> SMART GARAGE </h6>
                        <p> str. Street 100, Varna, Bulgaria </p>
                    </div>

                    <hr />

                    <div>
                        <h6> PHONE </h6>
                        <p> 0888 102 030 </p>
                    </div>

                    <hr />

                    <div>
                        <h6> EMAIL </h6>
                        <p> info@smartgarage.com </p>
                    </div>
                </div>
            </div>

            <!-- DISPLAY MAP -->
            <div class="d-flex flex-column bg-light rounded-3 bg-opacity-25 m-auto" style="width:100%; height:100%;">

                <div class="flex-column">
                    <p class="m-2">Where to find us.</p>
                </div>
                <div id="myMap" class="rounded-3 m-1"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/maps.js"></script>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {

        // Load map
        LoadMap();
    });

</script>
